# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java-web\jsp-servlet-jdbc-2021-learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
